.banner
	.container
		.banner__content
			.banner__content__title
				| Pastry with love
			+svg("dashed-line")
			.banner__content__text
				| We’re bringing you fresh ingredients every day #[br]
				| in ways you can’t resist.
			a.banner__content__button(href="#")
				| Our menu
	.banner__label