.breakfast
	.container
		.col-1
			.breakfast__title
				| Breakfast
			.breakfast__text
				| 7am Breakfast? We’re open!
			.breakfast__list
				.breakfast__list__item
					.breakfast__list__item__name
						| Full breakfast
					.breakfast__list__item__description
						| Duis ut tortor, et risus, vulputate pretium
					.breakfast__list__item__price
						| $12.49
				.breakfast__list__item
					.breakfast__list__item__name
						| Toast & Jam
					.breakfast__list__item__description
						| Suspendisse, tempus, nterdum
					.breakfast__list__item__price
						| $4.90
				.breakfast__list__item
					.breakfast__list__item__name
						| Muffins
					.breakfast__list__item__description
						| Fusce eget dui sodales est
					.breakfast__list__item__price
						| $3.95
		.col-2
			.breakfast__sheet
				img(src="images/sheet.png" alt="")
				.breakfast__sheet__text
					.breakfast__sheet__text__title
						| Your morning Escape with Flair
					.breakfast__sheet__text__description
						| Donec vitae sapien ut libero venenatis faucibus.
						| Nullam quis ante. Etiam sit amet orci eget eros
						|  faucibus tincidunt. Duis leo.
					a.breakfast__sheet__text__more(href="#") Read
