.cakes
	.container
		.col-1
			.cakes__title
				| Art of cakes
			.cakes__subtitle
				| We create delicious memories
			.cakes__text
				| Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.
				| Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
				| Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
				| libero, sit amet adipiscing sem neque sed.
			.cakes__status
				| Chef Cook
			.cakes__cooker
				.cakes__cooker__name
					| Benito
				.cakes__cooker__photo
					img(src="images/cooker.jpg")
				.cakes__cooker__surname
					| Gaspare
			.cakes__quote
				| Unique creations for unique occasions.
		.col-2
			.cakes__banner
				.cakes__banner__image
					img(src="images/cakes/img1.jpg" alt="")
				.cakes__banner__image
					img(src="images/cakes/img2.jpg" alt="")
				.cakes__banner__image
					img(src="images/cakes/img3.jpg" alt="")
				.cakes__banner__image
					img(src="images/cakes/img4.jpg" alt="")
				.cakes__banner__label
					.cakes__banner__label__text
						| Tastes so good!