footer.footer
	.container
		.footer__menu.footer__menu--left
			a.footer__menu__item(href="#")
				| Our menu
			a.footer__menu__item(href="#")
				| Gallery
			a.footer__menu__item(href="#")
				| Culture
		.footer__logo
			a(href="/") Gustoso
		.footer__menu.footer__menu--right
			a.footer__menu__item(href="#")
				| Events
			a.footer__menu__item(href="#")
				| Catering
			a.footer__menu__item(href="#")
				| Visit us
