header.header
	.container
		.header__logo
			a(href="/") Gustoso
		.header__menu
			a.header__menu__item(href="#")
				| Welcome
			a.header__menu__item(href="#")
				| Menu
			a.header__menu__item(href="#")
				| Reservations
			a.header__menu__item(href="#")
				| News
			a.header__menu__item(href="#")
				| Contact
		.header__socials
			a.header__socials__link(href="#")
				+svg("twitter")
			a.header__socials__link(href="#")
				+svg("facebook")
			a.header__socials__link(href="#")
				+svg("instagram")
