.pancakes
	.container
		.big-slider
			.big-slider__slide__wrapper
				.big-slider__slide
					.big-slider__slide__image
						img(src="images/slider/1big.jpg" alt="")
						.stars
							.stars__star.stars__star--full
							.sttar.stars__star--full
							.stars__star.stars__star--full
							.stars__star.stars__star--full
							.stars__star.stars__star--empty
					.big-slider__slide__info
						.big-slider__slide__info__title
							| Tasty pancakes
						.big-slider__slide__info__subtitle
							| Season favourite
						.big-slider__slide__info__description
							| Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut
							| libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci
							| eget eros faucibus.
					.ready-label
						.ready-label__title
							| Ready in
						.ready-label__value
							| 40
						.ready-label__unit
							| min
			.big-slider__slide__wrapper
				.big-slider__slide
					.big-slider__slide__image
						img(src="images/slider/2big.jpg" alt="")
						.stars
							.stars__star.stars__star--full
							.sttar.stars__star--full
							.stars__star.stars__star--full
							.stars__star.stars__star--empty
							.stars__star.stars__star--empty
					.big-slider__slide__info
						.big-slider__slide__info__title
							| Great sandwich
						.big-slider__slide__info__subtitle
							| Season favourite
						.big-slider__slide__info__description
							| Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut
							| libero venenatis faucibus. Nullam quis ante. Etiam sit amet orc
					.ready-label
						.ready-label__title
							| Ready in
						.ready-label__value
							| 25
						.ready-label__unit
							| min
			.big-slider__slide__wrapper
				.big-slider__slide
					.big-slider__slide__image
						img(src="images/slider/3big.jpg" alt="")
						.stars
							.stars__star.stars__star--full
							.sttar.stars__star--full
							.stars__star.stars__star--full
							.stars__star.stars__star--empty
							.stars__star.stars__star--empty
					.big-slider__slide__info
						.big-slider__slide__info__title
							| Salads
						.big-slider__slide__info__subtitle
							| Season favourite
						.big-slider__slide__info__description
							| Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut
							| libero venenatis faucibus. Nullam quis ante. Etiam sit amet orc
					.ready-label
						.ready-label__title
							| Ready in
						.ready-label__value
							| 25
						.ready-label__unit
							| min
			.big-slider__slide__wrapper
				.big-slider__slide
					.big-slider__slide__image
						img(src="images/slider/1big.jpg" alt="")
						.stars
							.stars__star.stars__star--full
							.sttar.stars__star--full
							.stars__star.stars__star--full
							.stars__star.stars__star--full
							.stars__star.stars__star--empty
					.big-slider__slide__info
						.big-slider__slide__info__title
							| Tasty pancakes
						.big-slider__slide__info__subtitle
							| Season favourite
						.big-slider__slide__info__description
							| Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut
							| libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci
							| eget eros faucibus.
					.ready-label
						.ready-label__title
							| Ready in
						.ready-label__value
							| 40
						.ready-label__unit
							| min
			.big-slider__slide__wrapper
				.big-slider__slide
					.big-slider__slide__image
						img(src="images/slider/2big.jpg" alt="")
						.stars
							.stars__star.stars__star--full
							.sttar.stars__star--full
							.stars__star.stars__star--full
							.stars__star.stars__star--empty
							.stars__star.stars__star--empty
					.big-slider__slide__info
						.big-slider__slide__info__title
							| Great sandwich
						.big-slider__slide__info__subtitle
							| Season favourite
						.big-slider__slide__info__description
							| Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut
							| libero venenatis faucibus. Nullam quis ante. Etiam sit amet orc
					.ready-label
						.ready-label__title
							| Ready in
						.ready-label__value
							| 25
						.ready-label__unit
							| min
			.big-slider__slide__wrapper
				.big-slider__slide
					.big-slider__slide__image
						img(src="images/slider/3big.jpg" alt="")
						.stars
							.stars__star.stars__star--full
							.sttar.stars__star--full
							.stars__star.stars__star--full
							.stars__star.stars__star--empty
							.stars__star.stars__star--empty
					.big-slider__slide__info
						.big-slider__slide__info__title
							| Salads
						.big-slider__slide__info__subtitle
							| Season favourite
						.big-slider__slide__info__description
							| Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut
							| libero venenatis faucibus. Nullam quis ante. Etiam sit amet orc
					.ready-label
						.ready-label__title
							| Ready in
						.ready-label__value
							| 25
						.ready-label__unit
							| min
		.small-slider
			.small-slider__slide__wrapper
				.small-slider__slide
					img(src="images/slider/1.jpg" alt="")
			.small-slider__slide__wrapper
				.small-slider__slide
					img(src="images/slider/2.jpg" alt="")
			.small-slider__slide__wrapper
				.small-slider__slide
					img(src="images/slider/3.jpg" alt="")
			.small-slider__slide__wrapper
				.small-slider__slide
					img(src="images/slider/1.jpg" alt="")
			.small-slider__slide__wrapper
				.small-slider__slide
					img(src="images/slider/2.jpg" alt="")
			.small-slider__slide__wrapper
				.small-slider__slide
					img(src="images/slider/3.jpg" alt="")
