.recipes
	.container
		.recipes__title
			| The Jibarito sandwich
		.recipes__subtitle
			| The best sandwich you’ve ever tasted!
		.recipes__wrapper
			.col-1
				.recipes__list
					.recipes__list__item
						img.recipes__list__item__image(src="images/recipes/1.jpg" alt="")
						.recipes__list__item__title
							| Class aptent
						.recipes__list__item__text
							| Quot alienum persecuti ut eam, nam ad atqui primis nusquam.
					.recipes__list__item
						img.recipes__list__item__image(src="images/recipes/2.jpg" alt="")
						.recipes__list__item__title
							| Nulla eget
						.recipes__list__item__text
							| Nullam dictum felis eu pede mollis pretium Integer tincidunt.
					.recipes__list__item
						img.recipes__list__item__image(src="images/recipes/3.jpg" alt="")
						.recipes__list__item__title
							| Sed nibh purus
						.recipes__list__item__text
							| Aenean eleifend tellus leo ligula, porttitor eu, consequat vitae..
			.col-2
				.recipes__recipe
					.recipes__recipe__image
						img(src="images/recipe.jpg" alt="")
					.recipes__recipe__labels
						.ready-label.ready-label--opacity
							.ready-label__title
								| Prep
							.ready-label__value
								| 15
							.ready-label__unit
								| mins
						.ready-label.ready-label--opacity
							.ready-label__title
								| Cook
							.ready-label__value
								| 35
							.ready-label__unit
								| mins
						.ready-label
							.ready-label__title
								| Ready in
							.ready-label__value
								| 50
							.ready-label__unit
								| mins
					a.recipes__recipe__text-recipe(href="#") Full recipe