extends pug/base

prepend vars
	- title = 'Backery Gustoso'

block content
	//include pug/includes/header
	//include pug/includes/banner
	//include pug/includes/cakes
	//include pug/includes/pancakes
	include pug/includes/breakfast
	//include pug/includes/recipes
	//include pug/includes/footer
