.breakfast {
	padding-top: 84px;
	padding-bottom: 30px;
	height: 760px;
	background: url("../images/breakfast-bg.png") center no-repeat;
	background-size: cover;

	.container {
		display: flex;
		text-align: center;

		@media (max-width: 780px) {
			flex-direction: column;
		}
	}

	.col-1 {
		flex-basis: 50%;
	}

	.col-2 {
		flex-basis: 50%;
		margin-top: -9px;
		padding-left: 186px;

		@media (max-width: 1330px) {
			padding-left: 116px;
		}

		@media (max-width: 1024px) {
			padding-left: 0;
		}
	}

	&__title {
		font-family: $font-family-alegreya;
		font-weight: 700;
		font-size: 60px;
		line-height: 60px;
		letter-spacing: 2.2px;
		color: $color-white;
	}

	&__text {
		font-family: $font-family-alegreya;
		font-weight: 700;
		font-size: 18px;
		line-height: 30px;
		text-transform: uppercase;
		color: $color-rodeo-dust;
	}

	&__list {
		margin-top: 56px;

		&__item {
			margin-bottom: 47px;

			&__name {
				font-family: $font-family-alegreya;
				font-weight: 700;
				font-size: 30px;
				line-height: 30px;
				color: $color-white;
			}

			&__description {
				margin-top: 4px;
				font-size: 16px;
				line-height: 30px;
				color: $color-cotton-seed;
			}

			&__price {
				margin-top: 16px;
				font-family: $font-family-alegreya;
				font-size: 36px;
				line-height: 30px;
				color: $color-calico;
			}
		}
	}

	&__sheet {
		position: relative;
		width: 434px;

		img {
			display: block;
			width: 100%;
			height: auto;

			@media (max-width: 470px) {
				display: none;
			}
		}

		&__text {
			position: absolute;
			left: 0;
			top: 215px;
			padding: 0 50px;
			text-align: center;

			&__title {
				margin-bottom: 30px;
				font-family: $font-family-alegreya;
				font-weight: 700;
				font-size: 41px;
				line-height: 60px;
				letter-spacing: 2px;
				color: $color-fuscous-gray;

				@media (max-width: 480px) {
					font-size: 30px;
					line-height: 40px;
				}
			}

			&__description {
				font-size: 14px;
				line-height: 30px;
				color: $color-fuscous-gray;

				@media (max-width: 480px) {
					font-size: 12px;
					line-height: 25px;
				}
			}

			&__more {
				display: inline-block;
				margin-top: 42px;
				border: solid 1px $color-dawn;
				padding: 10px 71px;
				font-family: $font-family-alegreya;
				font-weight: 700;
				font-size: 18px;
				line-height: 30px;
				text-decoration: none;
				text-transform: uppercase;
				color: $color-barley-corn;
				transition: bachground 0.2s ease;

				&:hover {
					background-color: rgba($color-white, 0.3);
				}
			}

			@media (max-width: 470px) {
				position: static;
				padding: 10px;
				background-color: $color-spring-wood;
			}
		}

		@media (max-width: 780px) {
			margin: 0 auto;
		}

		@media (max-width: 480px) {
			width: auto;
		}
	}

	@media (max-width: 780px) {
		height: auto;
	}
}
