.ready-label {
	padding: 26px 15px;
	width: 200px;
	height: 200px;
	box-shadow: 0 25px 54px rgba($color-natural-gray, 0.45);
	text-align: center;
	background: url("../images/ready-label-bg.jpg") bottom no-repeat;
	background-size: cover;

	&__title {
		font-family: $font-family-alegreya;
		font-weight: 600;
		font-size: 18px;
		line-height: 30px;
		text-transform: uppercase;
		color: $color-barley-corn;

		@media (max-width: 540px) {
			font-size: 15px;
			line-height: 28px;
		}

		@media (max-width: 460px) {
			margin-top: 0;
			font-size: 11px;
			line-height: 20px;
		}
	}

	&__value {
		font-family: $font-family-alegreya;
		font-weight: 600;
		font-size: 92px;
		line-height: 92px;
		text-transform: uppercase;
		color: $color-calico;

		@media (max-width: 540px) {
			font-size: 75px;
			line-height: 75px;
		}

		@media (max-width: 460px) {
			font-size: 50px;
			line-height: 58px;
		}

		@media (max-width: 380px) {
			font-size: 30px;
			line-height: 35px;
		}
	}

	&__unit {
		font-family: $font-family-alegreya;
		font-weight: 700;
		font-size: 18px;
		line-height: 30px;
		color: $color-natural-gray;

		@media (max-width: 540px) {
			font-size: 15px;
			line-height: 28px;
		}

		@media (max-width: 460px) {
			font-size: 11px;
			line-height: 20px;
		}
	}

	&--opacity {
		background: rgba($color-white, 0.8);

		.ready-label__title {
			margin-top: 13px;
			margin-bottom: 17px;

			@media (max-width: 460px) {
				margin-top: 0;
			}

			@media (max-width: 380px) {
				margin-bottom: 0;
			}
		}

		.ready-label__value {
			margin-bottom: 14px;
			font-size: 60px;
			line-height: 30px;
			color: $color-fuscous-gray;

			@media (max-width: 380px) {
				font-size: 30px;
				line-height: 35px;
			}
		}
	}

	@media (max-width: 540px) {
		padding: 12px 15px;
		width: 150px;
		height: 150px;
		box-shadow: 0 5px 20px rgba($color-natural-gray, 0.45);
	}

	@media (max-width: 460px) {
		width: 120px;
		height: 120px;
	}

	@media (max-width: 380px) {
		width: 100px;
		height: 100px;
	}
}
