.recipes {
	padding-top: 86px;
	height: 920px;
	text-align: center;
	background: url("../images/mill-big.png") center top no-repeat $color-spring-wood;

	&__title {
		font-family: $font-family-alegreya;
		font-weight: 700;
		font-size: 48px;
		letter-spacing: 1.4px;
		color: $color-fuscous-gray;
	}

	&__subtitle {
		font-family: $font-family-alegreya;
		font-weight: 700;
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 1.5px;
		text-transform: uppercase;
		color: $color-barley-corn;
	}

	&__wrapper {
		display: flex;
	}

	.col-1 {
	}

	.col-2 {
	}

	&__list {
		width: 300px;

		&__item {
			margin-bottom: 56px;

			&__image {
				display: block;
				margin: 0 auto;
				border-radius: 50%;
				width: 100px;
				height: 100px;
				object-fit: cover;
			}

			&__title {
				margin-top: 15px;
				margin-bottom: 22px;
				font-family: $font-family-alegreya;
				font-weight: 700;
				font-size: 30px;
				line-height: 30px;
				color: $color-barley-corn;
			}

			&__text {
				font-size: 14px;
				line-height: 20px;
				color: $color-fuscous-gray;
			}
		}
	}

	&__recipe {
		position: relative;
		margin-top: 62px;
		margin-left: 117px;
		padding-top: 22px;

		&__image {
			border: solid 10px $color-white;
			height: 556px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&__labels {
			position: absolute;
			right: 13px;
			top: 0;
			width: 200px;
		}

		&__text-recipe {
			position: absolute;
			left: -20px;
			bottom: -20px;
			display: inline-block;
			border: dashed 1px $color-calico;
			padding: 19px 28px;
			font-family: $font-family-alegreya;
			font-weight: 700;
			letter-spacing: 1.5px;
			text-decoration: none;
			text-transform: uppercase;
			color: $color-calico;
			background-color: $color-white;
			transition: background 0.2s ease;

			&:hover {
				background-color: darken($color-white, 2%);
			}
		}
	}
}
