// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-fuscous-gray: #56534c;
$color-barley-corn: #a47d5e;
$color-laser: #c9b176;
$color-calico: #dfc691;
$color-natural-gray: #979285;
$color-rodeo-dust: #c8a593;
$color-cotton-seed: #c2beba;
$color-dawn: #9e9c93;
$color-spring-wood: #f3f1e9;

// FONTS
$font-family-playfair-display: "Playfair Display", serif;
$font-family-scriptina: "Scriptina", sans-serif;
$font-family-scriptina-alternates: "Scriptina Alternates", sans-serif;
$font-family-proxima-nova: "Proxima Nova", sans-serif;
$font-family-alegreya: "Alegreya", serif;
